dialog {
  padding: 1rem;
  border-radius: 0.375rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border: none;
}

dialog::backdrop {
  background-color: rgba(28, 25, 23, 0.9);
}

dialog h2 {
  margin: 1rem 0;
  color: rgb(28 25 23);
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 900;
}

dialog form {
  margin-top: 2rem;
  text-align: right;
}
