aside {
  width: 33.33%;
  padding: 4rem 2rem;
  background-color: rgb(28 25 23);
  color: rgb(250 250 249);
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}

aside h2 {
  margin-bottom: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(231 229 228);
}

aside button.projectName {
  padding: 0.25rem 0.5rem;
  margin: 0.25rem 0;
  border: none;
  border-radius: 0.125rem;
  width: 100%;
  text-align: left;
  background-color: transparent;
  color: rgb(168 162 158);
}
aside ul {
  margin-top: 2rem;
}
aside button.projectName:hover {
  color: rgb(231 229 228);
  background-color: rgb(41 37 36);
}

@media screen and (min-width: 768px) {
  aside {
    width: 18rem;
  }
  aside h2 {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}
